.DS_Store
/.idea
.phpmake
/html/.*
/html/*.*
/html/class/
/html/common/
/html/core/
/html/images/
/html/include/
/html/install/
/html/kernel/
/html/language/
/html/preload/
/html/themes/
/html/uploads/
/html/modules/*.*
/html/modules/legacy*/
/html/modules/user/
/html/modules/profile/
/html/modules/message/
/html/modules/stdCache/
/xoops_trust_path/.*
/xoops_trust_path/*.*
/xoops_trust_path/cache/
/xoops_trust_path/libs/
/xoops_trust_path/modules/
/xoops_trust_path/settings/
/xoops_trust_path/templates_c/
/xoops_trust_path/vendor/
/xoops_trust_path/uploads/*
/docs/*
/extras/*
!/xoops_trust_path/composer.json


/html/modules/altsys/
/html/modules/protector/
/html/modules/xupdate/
/xoops_trust_path/PEAR/
/xoops_trust_path/class/
